<div class="post-list">
  {{#foreach posts}}
  <article class="post-item {{post_class}}">
    <a href="{{url}}" class="post-item-content">
      <h3>{{title}}</h3>
      <time role="parallax-2">{{date format="YYYY-MM-DD HH:mm:ss"}}</time>
    </a>
    <div class="post-tags post-item-tags" role="parallax-1">
      {{tags separator=" · "}}
    </div>
    {{#if image}}
    <div class="post-item-cover" style="background-image: url('{{image}}');"></div>
    {{/if}}
  </article>
  {{/foreach}}
  {{pagination}}
</div>
