<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>{{ @blog.title }}</title>
  <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>
  <header>
    <a href="/">
      <img src="{{ @blog.logo }}" class="avatar" alt="avatar">
      <h1>{{ @blog.title }}</h1>
    </a>
    <p class="description">{{ @blog.description }}</p>
    <nav>
      {{ navigation }}
    </nav>
  </header>
  <script src="/assets/js/main.js"></script>
</body>
</html>
