<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>{{@blog.title}}</title>
  <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>
  <header class="site-header">
    <a href="/">
      <img src="{{@blog.logo}}" class="avatar" alt="avatar">
      <h1>{{@blog.title}}</h1>
    </a>
    <p class="description">{{@blog.description}}</p>
    <nav>
      {{navigation}}
    </nav>
  </header>
  <main class="site-content">
    {{{body}}}
  </main>
  <footer class="site-footer">
    &copy;
    {{date format="YYYY"}}
    <a href="{{@blog.url}}">{{@blog.title}}</a>.
    All rights reserved.
    Built with <a href="https://github.com/PeachScript/meditation" target="_blank">meditation</a> under <a href="https://ghost.org" target="_blank">Ghost</a>.
  </footer>
  <script src="/assets/js/main.js"></script>
</body>
</html>
