<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{meta_title}}</title>
  <meta name="description" content="{{meta_description}}">
  <meta name="HandheldFriendly" content="True">
  <meta name="viewport" content="width=device-width, maximum-scale=1, minimum-scale=1, initial-scale=1, user-scalable=no, shrink-to-fit=no">
  <link rel="shortcut icon" href="{{asset "favicon.ico"}}">
  <link rel="stylesheet" href="{{asset "css/main.css"}}">
  {{ghost_head}}
</head>
<body class="{{body_class}}">
  <header class="site-header">
    <a href="{{@blog.url}}">
      <img src="{{@blog.logo}}" class="avatar" alt="avatar">
    </a>
    <h1><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
    <p class="description">{{@blog.description}}</p>
    <nav>
      {{navigation}}
    </nav>
  </header>
  <main class="site-content" role="main">
    {{{body}}}
  </main>
  <footer class="site-footer">
    &copy;
    {{date format="YYYY"}}
    <a href="{{@blog.url}}">{{@blog.title}}</a>.
    All rights reserved.
    Built with <a href="https://github.com/PeachScript/meditation" target="_blank">meditation</a> under <a href="https://ghost.org" target="_blank">Ghost</a>.
  </footer>
  <script src="{{asset "js/main.js"}}"></script>
  {{ghost_foot}}
</body>
</html>
