{{!< layout}}
{{#post}}
{{#if image}}
<figure class="header-cover" style="background-image: url('{{image}}');"></figure>
{{/if}}
<article class="post-detail-wrapper">
  <header class="post-header">
    <time class="post-detail-time">{{date format="YYYY-MM-DD HH:mm:ss"}}</time>
    <h1>{{title}}</h1>
  </header>
  <section class="post-content typo">
    {{content}}
  </section>
  <footer class="post-footer">
    <section class="post-tags post-detail-tags">
      {{tags separator=" · "}}
    </section>
    <section class="post-copyright">
      <p>版权声明：署名-非商业性使用-禁止演绎(CC BY-NC-ND)</p>
      <p>　许可证：<a target="_blank" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">创意共享 4.0 许可证</a></p>
    </section>
    <section class="post-share">
      <h4>SHARE</h4>
    </section>
  </footer>
  <aside class="pagination post-pagination">
    {{#prev_post}}
      <a href="{{url}}" class="pagination-prev">{{title}}</a>
    {{/prev_post}}
    {{#next_post}}
      <a href="{{url}}" class="pagination-next">{{title}}</a>
    {{/next_post}}
  </aside>
</article>
{{/post}}
